.toggle {
    width: 100%;
    padding: 10px 20px;
    background: transparent;
    text-align: right;
    color: white;
    font-size: 30px;
    display: none;
}

.toggle i {
    padding: 15px;
}

.toggle a {
    font-size: 28px;
}

.menu-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    align-items: center;
    height: 90px;
    padding: 0 !important;
}

.nav-color {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 90px;
    padding: 0 !important;
    transition: background 0.5s linear;
}


@media (max-width:768px) {
    .toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #menu-superior ul {
        width: 100%;
        flex-direction: column;
    }
    #menu-superior ul li {
        margin: 15px 0;
        text-align: center;
    }
    #menu-superior {
        display: none;
    }
    #menu-superior .logo {
        display: none;
    }
    .ativo {
        display: flex !important;
    }
}