#sobre {
    padding: 3em 0;
}

#sobre .m-container {
    align-items: initial;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.texto-sobre {
    width: 60%;
    align-self: baseline;
}

.texto-sobre p {
    font-family: 'Lato', sans-serif;
    color: #cccaca;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: justify;
}

.img-sobre {
    width: 50%;
    margin: 0 0 0 3%;
    flex-grow: 3;
}

.imagem-sobre {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(78, 78, 78, 0.3);
}
