body {
    font-family: 'Lato', sans-serif;
    background-color: #222222;
    font-size: 14px;
    color: white;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.topo {
    min-height: 730px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #222222), url("../img/background.jpg");
    background-position: 0px 0px, 38% 45%;
    background-size: cover;
    background-repeat: repeat, no-repeat;
}

.logo {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: white;
    padding: 15px;
    position: relative;
    top: 40px;
    transition: 1s;
}

.m-container {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.nav-list {
    position: absolute;
    top: 60px;
    right: 0;
}

.nav-list li {
    margin: 0 20px;
    display: inline-block;
    transition: 2s;
}

.nav-link {
    color: #EEEEEE;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

.nav-link:hover {
    color: #00d6b4;
}

.header-text {
    margin-top: 250px;
    padding: 0 15%;
    position: relative;
}

.titulo-principal {
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    font-weight: 300;
    font-style: italic;
    line-height: 53px;
    text-align: center;
    margin-bottom: 20px;
}

.img-mauricio {
    border-radius: 90%;
    width: 150px;
    position: relative;
    left: 38%;
}

.titulo-sessao {
    text-align: center;
    font-size: 3em;
    margin-bottom: 5%;
}

.sobre {
    padding: 3em 0;
}

.texto-sobre {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin: 0 2%;
}

.texto-sobre p {
    font-family: 'Lato', sans-serif;
    color: #cccaca;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: justify;
}

.img-sobre {
    width: 45%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 0 0 3%;
}

.imagem-sobre {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(78, 78, 78, 0.3);
}

.formacoes {
    padding: 3em 0;
    min-height: 480px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #222222), linear-gradient(0deg, rgba(0, 0, 0, 0.1), #222222), url("../img/formacao.jpg");
    background-repeat: repeat no-repeat;
    background-size: cover;
}

.linha {
    margin: 2em auto;
}

.card {
    background: #EEEEEE;
    box-shadow: 0 4px 8px 0 rgba(155, 155, 155, 0.2);
    transition: 0.3s;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(172, 172, 172, 0.4);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.icon-card {
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.card-content {
    padding: 2px 16px;
    color: black;
    text-align: center;
}

.contato {
    min-height: 680px;
    width: 100%;
}

.img-contato {
    width: 45%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 2em;
    display: inline-block;
}

.imagem-contato {
    width: 100%;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(78, 78, 78, 0.3);
}

.caixa-contato {
    width: 46%;
    border: solid #ffffff 1px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 2em;
    vertical-align: top;
    height: 650px;
    border-radius: 10px;
}

.caixa-contato:hover {
    border-color: #00d6b4;
}

.subtitulo-contato {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    margin-top: 2em;
}

.caixa-contato p {
    font-size: 1.3em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 2% 2% 0 2%;
}

form {
    padding: 2% 10% 0 10%;
}

label {
    display: block;
    margin: 2em 0 8px 0;
    text-transform: uppercase;
}

.form-control {
    padding: 0.7em;
    width: 90%;
    border-radius: 3px;
    border: none;
    margin: 0em auto;
    background: #4b4b4b;
    border: solid 1px #cccccc;
    font-size: 18px;
    font-family: 'Leto', sans-serif;
    color: #cccaca;
}

.form-control:focus {
    border-color: #00d6b4;
    outline: 0
}

.div-button {
    position: relative;
}

.button {
    margin: 2em 1.5em 0 0;
    background: transparent;
    width: 30%;
    padding: 10px 25px;
    font-family: 'Leto', sans-serif;
    text-transform: uppercase;
    color: #00d6b4;
    border: 1px solid #00d6b4;
    border-radius: 4px;
    font-weight: 300;
    float: right;
    cursor: pointer;
}

.button:hover {
    background: #00d6b4;
    color: #222222;
    border: #222222;
}

footer {
    padding: 20px;
    text-align: center;
}

footer div {
    margin: 5% 0 0 0;
}

.logo-footer {
    font-size: 22px;
    color: #ffffff;
}

footer p {
    padding: 10px;
    color: #999999;
}

@media screen and (max-width: 480px) {
    .topo {
        min-height: 630px;
    }
    .m-container {
        width: auto;
    }
    .nav-list {
        position: static;
        text-align: center;
        margin: 5em auto auto 0;
    }
    .logo {
        left: 26%;
    }
    .header-text {
        margin: 100px 0 0 0;
        padding: 0 5%;
    }
    .titulo-principal {
        font-size: 30px;
        line-height: 43px;
        margin-top: auto;
        text-align: center;
    }
    .titulo-sessao {
        margin: 0 5px;
    }
    .img-mauricio {
        left: 29%;
    }
    .texto-sobre {
        display: block;
        margin: 1em auto;
        width: 90%;
    }
    .img-sobre {
        display: block;
        margin: 1em auto;
        width: 90%;
    }
    .card {
        display: block;
        margin: 2em auto;
        width: 70%;
    }
    .contato .titulo-sessao {
        margin-bottom: 1.3em;
    }
    .caixa-contato {
        width: 90%;
        margin: 0 5%;
    }
    .caixa-contato p {
        margin: 10px 0 0 0;
    }
    .subtitulo-contato {
        margin: 1em 0 0 0;
    }
    .button {
        width: 44%;
        margin-right: auto;
    }
    .img-contato {
        display: none;
    }
}

@media screen and (max-width:321px) {
    .nav-list li {
        margin: 0 10px;
    }
    .titulo-principal {
        font-size: 26px;
        line-height: 43px;
        margin-top: auto;
        text-align: center;
    }
    .img-mauricio {
        left: 25%;
    }
}