html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #222222;
    font-size: 14px;
    color: white;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #00d6b4;
}

.topo {
    min-height: 730px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #222222), url("../img/background.jpg");
    background-position: 0px 0px, 38% 45%;
    background-size: cover;
    background-repeat: repeat, no-repeat;
}

.logo {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: white;
    padding: 15px;
}

.m-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.topo .m-container {
    padding-top: 2em;
}

.nav-list {
    display: flex;
}

.nav-list li {
    margin: 0 20px;
    transition: 2s;
}

.nav-link {
    color: #EEEEEE;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

.nav-link:hover {
    color: #00d6b4;
    text-decoration: none;
}

.header-text {
    margin-top: 200px;
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-principal {
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    font-weight: 300;
    font-style: italic;
    line-height: 53px;
    text-align: center;
    margin-bottom: 20px;
}

.img-mauricio {
    border-radius: 50% !important;
    width: 180px;
}

.titulo-sessao {
    text-align: center;
    font-size: 3em;
    margin-bottom: 5%;
    font-weight: 300;
    font-style: italic;
}

#sobre {
    padding: 3em 0;
}

#sobre .m-container {
    align-items: initial;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.texto-sobre {
    width: 60%;
    align-self: baseline;
}

.texto-sobre p {
    font-family: 'Lato', sans-serif;
    color: #cccaca;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: justify;
}

.img-sobre {
    width: 50%;
    margin: 0 0 0 3%;
    flex-grow: 3;
}

.imagem-sobre {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(78, 78, 78, 0.3);
}

#skills {
    padding: 3em 0;
    min-height: 480px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #222222), linear-gradient(0deg, rgba(0, 0, 0, 0.1), #222222), url("../img/formacao.jpg");
    background-repeat: repeat no-repeat;
    background-size: cover;
}

.linha {
    margin: 2em auto;
}

#skills .m-container {
    justify-content: space-around;
}

.card {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.7), #b9b9b9), url('../img/fundo-card.jpg');
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(155, 155, 155, 0.2);
    transition: 0.3s;
    text-align: center;
    width: 30%;
    padding: 30px 20px;
    border-radius: 10px;
    margin: 2em 0 0;
}

.card-content h4, p {
    font-weight: 500;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(172, 172, 172, 0.4);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.icon-card {
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.card-content {
    padding: 2px 16px;
    color: black;
    text-align: center;
}


